body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  font-family: "Ubuntu", sans-serif !important;
}

.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  padding: 1.5em 0 2em 0;
  text-align: center;
  letter-spacing: 7px;
  font-size: 1.7em;
}

.footer {
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.credentials-login {
  text-align: center;
  padding: 2em;
}

.auth-container {
  padding: 0;
  margin: 0;
  border-radius: 20px !important;
  background: linear-gradient(
    90deg,
    rgba(253, 245, 29, 0.182) 50%,
    rgba(252, 176, 69, 0.532) 100%
  );
}

.okta-sign-in-header {
  display: none;
}

.okta-form-title {
  color: black !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

label {
  color: black;
}

.checked {
  border: none !important;
  box-shadow: none !;
}
