body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  font-family: "Ubuntu", sans-serif !important;
}

.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  padding: 1.5em 0 2em 0;
  text-align: center;
  letter-spacing: 7px;
  font-size: 1.7em;
}

.footer {
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.credentials-login {
  text-align: center;
  padding: 2em;
}

.auth-container {
  padding: 0;
  margin: 0;
  border-radius: 20px !important;
  background: linear-gradient(
    90deg,
    rgba(253, 245, 29, 0.182) 50%,
    rgba(252, 176, 69, 0.532) 100%
  );
}

.okta-sign-in-header {
  display: none;
}

.okta-form-title {
  color: black !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

label {
  color: black;
}

#okta-sign-in .custom-checkbox label {
  color: rgb(32, 163, 17);
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
}

.checked {
  border: none !important;
  box-shadow: none !;
}

#okta-sign-in.auth-container .button-primary {
  color: black;
  border: none;
  border-radius: 10px;
  background: rgba(24, 223, 226, 0.867);
  font-family: "Inconsolata", sans-serif;
  transition: all 0.2s ease-in-out;
}

#okta-sign-in.auth-container .button-primary:hover {
  background: rgb(119, 255, 0);
}

/* Base container for the background component */
.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}
