body {
  background-color: rgba(246, 219, 81, 0.69);
}

.title {
  padding: 40px;
  font: normal 34px/1 Verdana, Geneva, sans-serif;
  color: black;
  text-align: center;
  letter-spacing: 7px;
}

.footer {
  font: normal 14px/1 Verdana, Geneva, sans-serif;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2.5em;
}

.credentials-login {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  padding: 2em;
}

.auth-container {
  padding: 0;
  margin: 0;
  border-radius: 20px !important;
  background-color: antiquewhite !important;
}

.okta-sign-in-header {
  display: none;
}

.okta-form-title {
  color: rebeccapurple !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
}
