.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  padding: 1.5em 0 2em 0;
  text-align: center;
  letter-spacing: 7px;
  font-size: 1.7em;
}

.credentials-login {
  text-align: center;
  padding: 2em;
}

.auth-container {
  background: rgba(17, 238, 254, 0.278) !important;
  border-radius: 20px !important;
  backdrop-filter: blur(30px);
  border: none !important;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.875) !important;
}

.okta-sign-in-header {
  display: none;
}

.okta-form-title {
  color: black !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

label {
  color: black;
}

#okta-sign-in .custom-checkbox label {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
}

.checked {
  border: none !important;
  box-shadow: none !;
}

#okta-sign-in.auth-container .button-primary {
  color: black;
  border: none;
  border-radius: 10px;
  background: rgba(250, 230, 19, 0.867);
  font-family: "Inconsolata", sans-serif;
  transition: all 0.2s ease-in-out;
}

#okta-sign-in.auth-container .button-primary:focus {
  background-color: transparent;
  border-radius: 10px;
}

#okta-sign-in.auth-container .button-primary:hover {
  background: rgb(0, 0, 0);
  color: white;
}

/* Base container for the background component */
.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

#okta-sign-in.auth-container .link {
  color: white !important;
  text-decoration: none;
}

#okta-sign-in.auth-container .link:hover {
  color: rgb(237, 247, 51) !important;
  text-decoration: underline;
}

/* Increase specificity with additional classes or IDs */
body .o-form-has-errors .infobox-error,
#okta-sign-in .o-form-has-errors .infobox-error {
  display: none !important;
}

#okta-sign-in .o-form-explain.o-form-input-error {
  color: rgb(255, 82, 82);
  font-size: 12px;
  letter-spacing: 1px;
  font-style: italic;
}

.focused-input {
  display: none;
}

#okta-sign-in.auth-container input[type="submit"]:focus {
  background-color: transparent !important;
}

#okta-sign-in.auth-container .button-primary:active {
  background-image: none;
  /* background-color: rgba(250, 230, 19, 0.867) !important; */
}

#okta-signin-username {
  border-radius: 10px !important;
}

#okta-sign-in.auth-container .button-primary:active,
#okta-sign-in.auth-container .button-primary:focus,
#okta-sign-in.auth-container .button-primary:hover {
  background-color: #2cc6ed !important;
  background-image: none !important;
  cursor: pointer;
  color: black !important;
}

#okta-sign-in :focus {
  outline: none !important;
}
